* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.text {
  position: fixed;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  left: 50%;
  top: 10px;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transform: translateX(-50%);
}

.greenLight {
  color: greenyellow;
}

.redLight {
  color: crimson;
}

.newGame {
  position: fixed;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  left: 50%;
  top: 150px;
  transform: translateX(-50%);
}
